{% if site.baseurl != "" %}
    <b><a href="{{ site.baseurl }}">Gull Docs</a></b>
{% else %}
    <b><a href="/">Gull Docs</a></b>
{% endif %}
<br/>
<br/>
{% for version in site.doc_versions %}
    <b>{{ version }}</b>
    <ul>
    	{% for page in site.pages %}
    	  {% if (page.version == version || page.version == null) %}
    	  	<li><a class="page-link" href="{{ site.baseurl }}{{ page.permalink }}.html">{{ page.title }}</a></li>
    	  {% endif %} 
    	  
    	{% endfor %}
    </ul>
{% endfor %}
