.window {
    width: 95%;
    height: 100%;
    margin: auto;
    padding: 2%;
}

.sidebar{
	width: 20%;
    height: 100%;
    float: left;
    border-right: 1px solid grey;
}

.main{
    height: 100%;
}
